<% include ./partials/header-top %>

<script src="//ajaxorg.github.io/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/scripts/sketch.js" one="1" two="2"></script>

<title>Yoot!</title>
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

<% include ./partials/header-bottom %>

<!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/exercise.css">

<div id="header">
    <a href="/">
        YeetCode
    </a>
</div>

<!-- Details about the exercise -->
<div id="exercise-details">
    <div class="added-div d-flex justify-content-center">
        <div id="exercise-info">
            <% if (no > 0){ %>
                <a href="/exercise/<%= parseInt(no)-1 %>">
                    <i class="fas fa-angle-left"></i>
                </a>
            <% }else{ %>
                <i class="fas fa-angle-left" style="opacity:0; cursor: default;"></i>
            <% } %>
            <h3 id="exercise" class="px-3">Exercise <%= parseInt(no)+1 %></h3>
            <% if (no < 4){ %>
                <a href="/exercise/<%= parseInt(no)+1 %>">
                    <i class="fas fa-angle-right"></i>
                </a>
            <% }else{ %>
                <i class="fas fa-angle-right" style="opacity:0; cursor: default"></i>
            <% } %>
        </div>
    </div>
    <p id="q" class="py-3"><%= question %></p>
</div>

<!-- Editor and code visualiser -->
<section id="content">
    <div class="row">
        <div id="ide" class="col-6 d-flex flex-column justify-content-center align-items-center">
            <div id="editor-head">
                <p>my_program.py</p>
                <form method="POST" action="/exercise/<%= no %>">
                    <textarea name="code" style="display:none"></textarea>
                    <button id="submit-btn" class="flex-end"><i class="fas fa-play"></i></button>
                </form>
            </div>
            <div id="editor"></div>
            <div id="terminal">
                <div id="terminal-head">
                    <p>output</p>
                </div>
            </div>
        </div>
        <div id="code_vis" class="col-6">
            <div id="vis-head">
                <p>visualiser</p>
            </div>
            <div id="legend">
                <div>
                    <i class="fas fa-square px-3"></i>
                    <span>loop</span>
                </div>
                <div>
                    <i id="diamond" class="fas fa-square-full px-3"></i>
                    <span>output</span>
                </div>
                <div>
                    <i class="fas fa-square-full branch px-3"></i>
                    <span>branch</span>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    var editor = ace.edit("editor");
    editor.getSession().setUseWorker(false);
    editor.setTheme("ace/theme/xcode");
    editor.getSession().setMode("ace/mode/python");
    editor.setShowPrintMargin(false);

    $("#submit-btn").on("click", function(){
        var text = editor.getValue();
        $("textarea").text(text);
    });
</script>

<% include ./partials/footer %>
